<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 승인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/userAcceptPage.css">
    <script>
        function checked_box_accept(idx){
            check_accept = document.getElementById("accept_" + idx);
            check_refuse = document.getElementById("refuse_" + idx);
            if (check_accept.checked == true)
                check_refuse.checked = false;
        }
        function checked_box_refuse(idx){
            check_accept = document.getElementById("accept_" + idx);
            check_refuse = document.getElementById("refuse_" + idx);
            if (check_refuse.checked == true)
                check_accept.checked = false;
        }
    </script>
</head>
<body>
    <h4>회원가입 승인 페이지</h4>
    <h5><%= data.signin_name%>님 안녕하세요.</h5>
    <form class="accept_user_form" method="post" action="/accept_user">
        <table>
            <tr>
                <th scope="col">수락</th>
                <th scope="col">거절</th>
                <th scope="col">신청 현황</th>
            </tr>
            <% for(var i = 0; i < list.length; i++) { %>
                <tr name="tr_<%= i %>">
                    <td><input type="checkbox" name="accept_<%= list[i].id %>" id="accept_<%= i %>" onclick="checked_box_accept('<%=i%>');"></td>
                    <td><input type="checkbox" name="refuse_<%= list[i].id %>" id="refuse_<%= i %>" onclick="checked_box_refuse('<%=i%>');"></td>
                    <td>[<%= list[i].name %>] 대기 중</td>
                </tr>
            <% } %>
        </table>
        <input class="accept_user_submit" type="submit" value="저장하기">
    </form>
</body>
</html>
